<div class="row">
  <div class="columns medium-6 medium-centered">
    <h1>CrossFit Open <br>2017 Rankings</h1>
    <h2>Where do you rank??</h2>
    <p>Find out where you rank in the world, region, state, affiliate on one screen.</p>

    <%= render "search" %>
  </div>
</div>
