<div class="row">
  <div class="columns small-12 medium-10 large-8 small-centered">
    <div data-screenshot>
      <h4>My 2017 CrossFit Open Rankings</h4>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>World</th>
            <th>Region</th>
            <th>GeoArea</th>
            <th>Affiliate</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="results-table">
          <% if @user == "super" %>
          <tr>
            <td><%=link_to "Jon Morin", user_path("super", division: "rx", state: "GA") %> </td>
            <td>1 / 263002 <br><small>Top: 0.00001%</small></td>
            <td>1 / 52293 <br><small>Top: 0.000002%</small></td>
            <td>1 / 52293 <br><small>Top: 0.000002%</small></td>
            <td>1 / 52293 <br><small>Top: 0.000002%</small></td>
            <td><small><a href="#" class="close">Remove</a></small></td>
          </tr>

          <% else %>
          <%= cache([ @result.user_id, @result.division, @result.fittest, @result.fittest1 ], expires_in: 12.hours) do %>
          <% if @result.athlete.name.present? %>
          <tr>
            <td>
              <%=link_to @result.athlete.name, user_path(@result.athlete.id, division: @result.athlete.division_id, fittest: @result.fittest, fittest1: @result.fittest1) %><br>
              <small><%= @result.division_name %></small>
            </td>
            <td>
              <% if @result.world.athlete_info.present? %>
              <%= @result.world.rank %> / <%= @result.world.total_athletes %> <br><small>Top: <%= number_to_percentage(@result.world.percentage, precision: 1) %></small>
              <% else %>
              No data
              <% end %>
            </td>
            <td>
              <% if @result.region.athlete_info.present? %>
              <%= @result.region.rank %> / <%= @result.region.total_athletes %> <br><small>Top: <%= number_to_percentage(@result.region.percentage, precision: 1) %></small>
              <% else %>
              No data
              <% end %>
            </td>
            <td>
              <% if @result.state.state_correct? %>
              <%= @result.state.rank %> / <%= @result.state.total_athletes %> <br><small>Top: <%= number_to_percentage(@result.state.percentage, precision: 1) %></small>
              <% end %>
            </td>
            <td>
              <% if @result.affiliate.present? && @result.affiliate.athlete_info.present? %>
              <%= @result.affiliate.rank %> / <%= @result.affiliate.total_athletes %> <br><small>Top: <%= number_to_percentage(@result.affiliate.percentage, precision: 1) %></small>
              <% else %>
              NA
              <% end %>
            </td>
            <td><small><a href="#" class="close">&times;</a></small></td>
          </tr>
          <% else %>
          <tr>
            <td colspan="6">
              No results for this area. Try again.
            </td>
          </tr>
          <% end %>
          <% end %>
          <% end %>
        </tbody>
        <tfoot class="results-link">
          <tr>
            <th colspan="6"><small>Get your results at <a href="https://open-rankings.herokuapp.com">open-rankings.herokuapp.com</a></small></th>
          </tr>
        </tfoot>
      </table>
    </div>
    <p class="msg"></p>
    <p><a href="#" class="take-screenshot">Take screeshot to share</a></p>
    <p class="screenshot-instructions">Right click and copy image below (or touch and hold iOS), then paste into Facebook/Instagram/Twitter/Etc.</p>
    <p class="screenshot"></p>
    <hr>

    <p>Add another athlete or division/area to compare...</p>

    <div class="compare">
      <%= render "users/search" %>
    </div>
    <hr>
    <p><em>*Results are cached for 2 hours</em></p>
  </div>
</div>
