@import "foundation_and_overrides";
tbody.results-table {
  td {
    vertical-align: top;
    font-size: 80%;
    @include breakpoint(large) {
      font-size: 100%;
    }
  }
}

tfoot.results-link {
  display: none;
}
