<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "CrossFit Open Rankings" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-96345283-1', 'auto');
  ga('send', 'pageview');

  </script>
  </head>

  <body>
    <p><%= flash[:notice] %></p>
    <%= yield %>
    <div class="row">
      <div class="columns">
        <br>
        <br>
        <br>
        <br>
        <hr>
        <p class="text-center">* Using results from <%= link_to "games.crossfit.com", "https://games.crossfit.com" %></p>
        <p class="text-center"><small>Comments, feedback, know of a software project I should be working on? Get in touch!</small></p>
        <p class="text-center"><cite>Created by <%= mail_to "jess@brownwebdesign.com" %></cite></p>
      </div>
    </div>

  </body>
</html>
